{% extends "layout.html" %}
{% block body %}

    <div class="container py-4">
        <div class="row">
        
<!-- PROJECT 1 BEGINS-->

            <div class="col-sm">
                <a href={{project.site}}>
                    <!-- Card -->
                    <div class="card card-cascade narrower shad">

                        <!-- Card image -->
                        <div class="view view-cascade gradient-card-header purple-gradient">

                            <!-- Title -->
                            <h2 class="card-header-title text-center pt-2">{{project.title}}</h2>
                            <!-- Subtitle -->
                            <h5 class="mt-4 pb-3 pt-2 text-center">{{project.project_name}}</h5>

                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-center">

                            <!-- Text -->
                            <p class="card-text">{{project.content}}</p>

                        </div>

                    </div>
                    <!-- Card -->
                </a>
            </div>

<!-- PROJECT 1 ENDS-->

        </div>
    </div>

{% endblock %}
