{% extends "layout.html" %}
{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">This is Dashboard</h1>
    <p class="lead">{{params["about"]}}</p>
  </div>
</div>


<div style= "margin-left: 390px;  padding-left: 50px; margin-right: 1000px; background-color: aliceblue;border-radius: 25px;"
class="py-3 my-3">
  <h3>Basic Actions</h1>
  <a href="/edit/0"><button class="btn btn-primary m-0">Add New Project</button></a>
  <a href="/logout"><button class="btn btn-primary m-0">Logout</button></a>

</div>



<hr>

<div style="padding-left: 20px; padding-right: 20px;  background-color: aliceblue;border-radius: 25px;"class="container">
  <table class="table text-center">
    <thead>
      <tr>
        <th>Sno</th>
        <th>Title</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>

      {% for project in projects %}
      <tr>
        <td>{{project.serial_number}}</td>
        <td>{{project.project_name}}</td>
        <td><a href="/edit/{{project.serial_number}}"><button class="btn btn-primary mx-0">Edit</button></a></td>
        <td><a href="/delete/{{project.serial_number}}"><button class="btn btn-primary m-0">Delete</button></a></td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}