{% extends "layout.html" %}
{% block body %}

<div class="container py-4">
    
        <!-- PROJECT 1 BEGINS-->
    {% for project in projects %}
    <div class="row py-2 pb-5">
        <div class="col-sm">
            <a href="/project/{{project.slug}}", target="_blank">
                <!-- Card -->
                <div class="card card-cascade narrower shad">

                    <!-- Card image -->
                    <div class="view view-cascade gradient-card-header purple-gradient">

                        <!-- Title -->
                        <h2 class="card-header-title text-center pt-2">{{ project.title }}</h2>
                        <!-- Subtitle -->
                        <h5 class="mt-4 pb-3 pt-2 text-center">{{ project.project_name }}</h5>

                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                        <!-- Text -->
                        <p class="card-text">{{ project.content[0:43] }}...</p>

                    </div>

                </div>
                <!-- Card -->
            </a>
        </div>
    </div>
    {% endfor %}
        <!-- PROJECT 1 ENDS-->   

        <div class="clearfix">
            <a href="{{prev}}"><button class="btn btn-primary m-0 float-left">&larr; Previous</button></a>
            <a href="{{next}}"><button class="btn btn-primary m-0 float-right">Next &rarr;</button></a>

        </div>

</div>

{% endblock %}